server {
    listen 8080;

    proxy_pass ${NGINX_PROXY_URL};
    proxy_ssl on;
    proxy_ssl_verify off;
    proxy_ssl_server_name on;
    proxy_connect_timeout 10s;
        
}
    
    # For status of ngnix service
    #location /nginx_status {
        # Enable Nginx stats
        #stub_status on;
        # Only allow access from localhost
        #allow 127.0.0.1;
        # Other request should be denied
        #deny all;
        # No need to log this request, its just noise
        #access_log off;
    #}
#}
